footer,.md-footer,.md-footer-meta  {
  background-color: white;
}

.md-grid {
    max-width: none;
}

.md-logo {
    fill: #00b14f;
}

.md-main {
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    padding-left: 2rem;
    padding-right: 2rem;
}
