footer,.md-footer,.md-footer-meta  {
  background-color: white;
}

.md-grid {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: none;
}

.md-source {
    display: flex;
    align-items: center;
    justify-content: end;
}
